@use './partials/variables' as *;

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1320px;
  margin: 1rem auto;
  &__img {
    
    background-image: url('../assets/images/rubbeducky2.png');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  &__titleBanner {
    display: flex;
  }
  &__p{
    width: 80%;
  }
}
.gameboard{
  width: auto;
  height: auto;
  margin: 0 auto;
  &--div{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

//exterior cell
.gameboardcell {
  width:50px;
  height:50px;
  // background:blue;
  border: 1px solid black;
  position:relative;
}

//interior wave
.wave {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:cal(80%);
  background: url('../assets/images/wave.png');
  background-size: contain;
  background-color: $color-light;
  transition: all 5s;
  z-index:-1;
  animation:wave 1.5s linear infinite;
  

}
.num{
  z-index: 2;
  color:black;
}
//interior wave
// .wave:before {
//   content:"";
//   position:absolute;
//   width:100%;
//   height:10px;
//   left:0;
//   top:-10px;
//   background: url('../assets/images/wave.png');
//   background-size: cover;
//     animation:wave 1.5s linear infinite;
// }

@keyframes wave {
  0% {
    background-position-x: 0 ;
  }
  100% {
    background-position-x:35px;
  }
  
}
.gameboardrow{
  background:purple;
}

.outer-bounds {
  width:50px;
  height:50px;
  background:rgb(255, 255, 255);
  border: 1px solid black;
}


.ducky {
  background: $color-light;
  background-image: url('../assets/images/rubbeducky2.png');
    background-size: cover;
  width:50px;
  height:50px;
   border: 1px solid black;
  
}
.bridge {
  background: $color-dark;
  background-image: url('../assets/images/wave.png');
  background-size: cover;
  width:50px;
  height:50px;
  border: 1px solid rgb(0, 0, 0);
  background-size: contain;
  z-index:-1;
  animation:wave 1.5s linear infinite;
  transition: all 5s;
  
}
.preview {
  background: rgb(0, 252, 210);
  width:50px;
  height:50px;
  border: 1px solid yellow;
  
}
.form {
  margin-top: 1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  &--top {
    margin:0;
    border-top:1px solid black;
    width: 304px;
    font-size: 1rem;
    border-right:1px solid black;
    border-left:1px solid black;
  }
  &--bottom {
    margin:0;
    border-bottom:1px solid black;
  }
  &--text {
    font-size: 1rem;
    border-right:1px solid black;
    border-left:1px solid black;
    width: 300px;
  }
}


input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border: 0px solid;
  
}

.no-outline:focus {
  outline: none;
}

.main {
  display:flex;
  justify-content:space-between;
  align-items: center;
  &__sec {
    display:flex;
    margin: 0 4rem;
    
  }
}

.gameboard-grid{
  display:flex;
  flex-direction:column;
}

.rules {
  width: 80%;
  display: flex;
  &__div{
    width:50%;      
  }
  &__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  &__divEx{
    width: 150px;
    height: 150px;
    color:white;
    background: black;
  }
  &__title {
    
  }
  &__list {
    
  }
  &__item {
    
  }
}

.toUse{
  width: 70%;
  margin-right:2rem;
  background: $color-light;
  color:white;
  padding: 2rem;
}

.outside-die {
  background: tomato;
  border-radius:10%;
  width: 104px;  
  height: 104px; 
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 4px; 
}


.inside-die {
  font-size: 2rem;
  color:white;
  
}

.game {
  width:70%;
  &__buttons{
    width: 60%;
    margin: 2rem auto 0;
    &--remove {
      display: flex;
      justify-content: center;
    }
    &--direction{
      margin-left: 1rem;
    }
  }

}

.button{
  
  &__dir{
   
    background: $color-light;
    color:white;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    &:hover{
      background: rgb(134, 134, 241);
    }
  }
    &__blank{
      background: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    border: none;
    }
    &__remove{
      background: tomato;
      color:white;
      padding: 1rem 2rem;
      border-radius: 10px;
      width: 90px;
      height: 50px;
      &:hover{
        background: rgb(243, 120, 120);
      }
    }
  }


.preview {
    background: rgb(0, 252, 210);
    width:50px;
    height:50px;
    border: 1px solid yellow;

}
  
.yes {
  color: greenyellow;
}

.no {
  color:rgb(243, 120, 120)
}